.square{
  border: calc(2.4em / var(--squares-count)) solid var(--app-font-color);
  border-radius: calc(7em / var(--squares-count));

  cursor: pointer;
}

.neutral{
  background-color: rgba(1, 1, 1, 0%);
  transition: all 300ms;
}

.active {
  background-color: rgba(255, 255, 255) !important;
  transition: all 300ms;
}

.error {
  background-color: rgba(0, 0, 0, 100%) !important;
  opacity: 60%;
  transition: all 300ms;
}

@media (max-width: 600px) {
  .square{
    border: calc(4.2vw / var(--squares-count)) solid var(--app-font-color);
    border-radius: calc(12vw / var(--squares-count));
  }
}
