.button {
  height: 4rem;

  background-color: var(--app-acc-color);

  border-radius: 1.5rem;
  font-size: 2.4rem;
  font-weight: 500;

  text-transform: uppercase;

  box-sizing: border-box;
  padding: 0 2rem;

  overflow: hidden;
  white-space: nowrap;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: -5px 5px 10px #1d1d1d33,
    5px -5px 10px #1d1d1d33,
    -5px -5px 10px #232323e6,
    5px 5px 13px #1d1d1de6,
    inset 1px 1px 2px #2323234d,
    inset -1px -1px 2px #1d1d1d80;
}

.button:hover {
  cursor: pointer;
}
