:root{
  --squares-count: 3;
}

.squaresBoard{
  display: grid;
  grid-template-columns: repeat(var(--squares-count), 1fr);
  grid-template-rows: repeat(var(--squares-count), 1fr);
  gap: calc(3em / var(--squares-count));

  width: 26em;
  height: 26em;
}
