:root{
  --squares-count: 3;
}

.squaresBoard{
  display: grid;
  grid-template-columns: repeat(var(--squares-count), 1fr);
  grid-template-rows: repeat(var(--squares-count), 1fr);
  gap: calc(3em / var(--squares-count));

  width: 35em;
  height: 35em;
  max-width: 35em;
  max-height: 35em;
}

@media (max-width: 800px) {
  .squaresBoard {
    width: 65vw;
    height: 65vw;
  }
}
