  .testButton {
    margin: 0 2rem;

  }

  .rowTests {
    display: flex;
    margin: 2rem 0;
  }

  .nullButton, .nullButtonMobile {
    height: 26rem;
    width: 31rem;
    background-color: #202020;

    border-radius: 1.5rem;

    box-sizing: border-box;

    box-shadow: -5px 5px 10px rgba(29, 29, 29, 0.2),
      5px -5px 10px rgba(29, 29, 29, 0.2),
      -5px -5px 10px rgba(35, 35, 35, 0.9),
      5px 5px 13px rgba(29, 29, 29, 0.9),
      inset 1px 1px 2px rgba(35, 35, 35, 0.3),
      inset -1px -1px 2px rgba(29, 29, 29, 0.5);

    border-radius: 15px;
    opacity: 0.5;
    margin: 0 2rem;

  }

  .nullButtonMobile {
    display: none;
  }

  .blocks {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 2050px) {
    .blocks {
      transform: scale(1.3);
    }
  }

  @media screen and (max-width: 820px) {
    .nullButton {
      display: none;
    }
    .nullButtonMobile{
      height: 15rem;
      width: 17rem;
      display: flex;
      margin: 0 1rem;
    }

    .testButton {
      margin: 0 1rem;
    }

    .rowTests {
      margin: 1rem 0;
    }

    .blocks {
      display: flex;
      align-items: center;
    }
  }
