.testButton {
    height: 26rem;
    width: 31rem;
    
    background-color: #202020;
  
    border-radius: 1.5rem;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 0.1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
    box-sizing: border-box;
  
    box-shadow: -5px 5px 10px rgba(29, 29, 29, 0.2), 
      5px -5px 10px rgba(29, 29, 29, 0.2), 
      -5px -5px 10px rgba(35, 35, 35, 0.9), 
      5px 5px 13px rgba(29, 29, 29, 0.9), 
      inset 1px 1px 2px rgba(35, 35, 35, 0.3), 
      inset -1px -1px 2px rgba(29, 29, 29, 0.5);

    border-radius: 15px;

  }
  
  .testButton:hover {
    cursor: pointer;
  }

  .imageButton {
    transform: scale(0.95);
  }
