.container {
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    gap: 4rem;
    align-items: center;
}

.levelText {
    font-size: 2.5rem;
    color: #8685EF;
}

.testNumber{
    display: flex;
    flex-direction: column;
    width:25rem;
    justify-content: center;
    align-items: center;
}

.outer {
    height: 1rem;
    background-color: #202020;
    width: 25rem;
}

.inner {
    background-color: #FAF7FF;
    width: 100%;
    height:1rem;
    transition: width;
    transition-timing-function: linear;
}

.buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.numberInput {
    text-align: center;
    font-size: 5rem;
    height: 5rem;
    width: 40rem;
}

.numberForm {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}
.textToScale {
    font-size: 4rem;
}


@media (max-width: 500px) {
    .container {
        gap: 2rem;
    }
    .numberInput {
        transform: scale(0.7);
    }
    .textToScale {
        font-size: 2.4rem;
    }
    .numberForm {
        gap: 2rem;
    }
    .buttons {
        margin-top: 2.5rem;
        flex-direction: column;
        width: 20rem;
    }
  }
