.title {
  font-size: 5.2rem;
  text-align: left;
  margin-top: 0;
}

.form {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: stretch;
  width: 55em;
  height: 45em;
}

.container {
  display: flex;
  align-items: flex-start;
  width:140em !important;
}

.formElement,.textElement ,.label{
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}
.label{
  margin-bottom: 2em;
  cursor: pointer;
  width: fit-content;
}
.textElement{
  height: 15em;
}
.label a{
  font-weight: bold;
  color: #8685EF;
}
