.app {
  display: flex;
  justify-content: flex-start;

  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;


  width: 100%;
  min-width: 0;
  height: 100%;
  box-sizing: border-box;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;

  flex-shrink: 0;

  padding: 3rem 7rem;
  box-sizing: border-box;
}

.titleBar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  height: 8rem;
  width: 100%;

  font-weight: 600;
  font-size: 4.8rem;

  flex-shrink: 0;

  padding: 0 7rem;
  box-sizing: border-box;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: calc(100% - 14rem);
  height: 100%;

  margin: 0 5rem;

  margin-bottom: 4.5rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
}

.contentBackground {
  background-color: var(--app-bg-color);
  box-shadow: -10px 10px 20px #1f1f2133,
    10px -10px 20px #1f1f2133,
    -10px -10px 20px #2f2f31e6,
    10px 10px 25px #1f1f21e6,
    inset 1px 1px 2px #2f2f314d,
    inset -1px -1px 2px #1f1f2180;
}

.branding {
  margin-right: auto;
}

.icon {
  height: 4rem;
  aspect-ratio: 1/1;

  display: none;
}

.bottombar {
  display: none;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 500px) {
  .sidebar {
    display: none;
  }

  .icon {
    display: initial;
  }

  .topBar {
    padding: 1rem 2rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: #272729f2;
    backdrop-filter: blur(10px);
  }

  .bottombar {
    display: inherit;
  }

  .container.containerPadded {
    padding: 7rem 0;
  }

  .content {
    width: calc(100% - 4rem);
    margin: 0 2rem;

    justify-content: flex-start;
    height: fit-content;
  }

  .titleBar {
    justify-content: center;
    align-items: center;

    padding: 0 2rem;
  }
}
