.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 6rem;
  box-sizing: border-box;
}

.contentBackground {
  background-color: var(--app-bg-color);
  box-shadow: -10px 10px 20px #1f1f2133,
  10px -10px 20px #1f1f2133,
  -10px -10px 20px #2f2f31e6,
  10px 10px 25px #1f1f21e6,
  inset 1px 1px 2px #2f2f314d,
  inset -1px -1px 2px #1f1f2180;
}