.dashboardTable {
  width: 100rem;
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  line-height: 4rem;
}

.dashboardTableTitle {
  color: var(--text-color);
  align-self: flex-start;
  font-weight: 700;
  width: 100%;
}

.dashboardTableHead {
  width: 100%;
}

.dashboardTableHeadRow {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.dashboardTableBodyRow {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.dashboardTableBody {
  width: 100%;
}

.dashboardTableCell {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow {
  background: #242425;
}
