.verbalButtons {
    display: flex;
}

.seenButton, .newButton {
    margin: 0 3rem;
    height: 5rem;
    width: 12rem;
    font-size: 3rem;
}

.testWord {
    margin: 6rem 0;
}

@media screen and (max-width: 500px) {
    .seenButton, .newButton {
        margin: 0 2rem;
        font-size: 3.2rem;
    }
}

