.logo {
  height: 40rem;
}

.catchphrase {
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 1rem;

  text-align: center;
}

.getStartedButton {
  margin-top: 3rem !important;

  font-size: 4.8rem !important;
  height: 7rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;

  align-items: baseline !important;
  text-transform: lowercase !important;
}
