.changePasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 2.6em;
}

.title {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

.checkboxLabel {
  align-self: center;
  margin-top: .2em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #272729;
  box-shadow: -10px 10px 20px rgba(31, 31, 33, 0.2),
    10px -10px 20px rgba(31, 31, 33, 0.2),
    -10px -10px 20px rgba(47, 47, 49, 0.9), 10px 10px 25px rgba(31, 31, 33, 0.9),
    inset 1px 1px 2px rgba(47, 47, 49, 0.3),
    inset -1px -1px 2px rgba(31, 31, 33, 0.5);
}


@media screen and (max-width: 500px) {
  .container {
    height: 90%;
    margin-top: 15%;
  }

  .title {
    font-size: 3rem;
  }

  .changePasswordForm {
    width: 100vw;
  }
}

