.changePasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.title {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #272729;
  box-shadow: -10px 10px 20px rgba(31, 31, 33, 0.2),
    10px -10px 20px rgba(31, 31, 33, 0.2),
    -10px -10px 20px rgba(47, 47, 49, 0.9), 10px 10px 25px rgba(31, 31, 33, 0.9),
    inset 1px 1px 2px rgba(47, 47, 49, 0.3),
    inset -1px -1px 2px rgba(31, 31, 33, 0.5);
}

.passwordInput {
  width: 30rem;
  height: 6rem;
  margin-top: 4rem;
  background: #202020;
  box-shadow: inset 0px 0px 6px rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  text-align: start;
  padding-left: 2rem;
  border: none;
  font-size: 2rem;
  color: white;
}

.changePasswordSubmit {
  align-self: center;
  width: 15rem;
  height: 5rem;
  background: #8685ef;
  margin-top: 5rem;
  font-size: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: -5px 5px 10px rgba(29, 29, 29, 0.2),
    5px -5px 10px rgba(29, 29, 29, 0.2), -5px -5px 10px rgba(35, 35, 35, 0.9),
    5px 5px 13px rgba(29, 29, 29, 0.9), inset 1px 1px 2px rgba(35, 35, 35, 0.3),
    inset -1px -1px 2px rgba(29, 29, 29, 0.5);
  border-radius: 15px;
}

@media screen and (max-width: 500px) {
  .container {
    height: 90%;
    margin-top: 15%;
  }

  .title {
    font-size: 3rem;
  }

  .changePasswordForm {
    width: 100vw;
  }

  .passwordInput {
    width: 77%;
    height: 5rem;
    font-size: 1.5rem;
  }

  .changePasswordSubmit {
    width: 15rem;
    height: 4rem;
    font-size: 2rem;
  }
}
