@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
  --app-bg-color: #272729;
  --app-bg-color-ligther: #303035;
  --app-bg-color-darker: #202020;

  --app-font-color: #FAF7FF;
  --app-font-family: 'Quicksand', sans-serif;

  --app-acc-color: #8685EF;
  font-family: var(--app-font-family);

  font-size: 10px;
  font-weight: 400;
  color: var(--app-font-color);

  background-color: var(--app-bg-color);
}

body {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: inherit;
  color: inherit;
  outline: none;
}

:link>linktext {
  color: inherit;
}

button {
  font-family: var(--app-font-family);
  color: var(--app-button-font-color);

  outline: none;
  border: none;
}

#root {
  display: flex;

  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background: var(--app-bg-color-darker);
  border-radius: 50rem;
}

::-webkit-scrollbar-thumb {
  background: var(--app-bg-color-ligther);
  border-radius: 50rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--app-acc-color);
}

:root {
  scrollbar-color: var(--app-bg-color-ligther) var(--app-bg-color-darker);
}

/* Weird hack for thin scrollbar on every element */
* {
  scrollbar-width: thin;
}