.section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 0;
  height: 100%;
  width: 100%;

  margin: 0 5rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
}

.logo {
  height: 20vw;
  padding-right: 10em;
}

.title {
  font-size: 4em;
  font-weight: 600;
  line-height: 1.5em;
  margin: 0 0 0.6em;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2.6em;
  width: 100%;
  max-width: 42em;
}

.formOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 4rem;
  width: 100%;
}

.checkboxLabel {
  margin-top: .2em;
}

.formOptionsLink {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 1em;
  height: 100%;
}

.formOptions a {
  font-size: 1.4em;
  text-decoration: underline;
  color: #8685EF;
}

.label{
  font-size: 1.1em;
  cursor: pointer;
}

form > label > em{
  line-height: 1.7em;
}

form[name='signup'] a{
  color: var(--app-acc-color) !important;
}

form a:hover{
  color: var(--app-font-color) !important;
}


/*Checkbox style customize*/

input[type="checkbox"] {
  -webkit-appearance: none;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  position: relative;
  -webkit-transition: .10s;
  background-color: #202020;

  margin: 0 0.8em 0 0;
  vertical-align: bottom;
}

input[type="checkbox"]:checked {
  background-color: #202020;
}

input[type="checkbox"]:before, input[type="checkbox"]:checked:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  text-align: center;
  color: #8685EF;
}

input[type="checkbox"]:checked:before {
  content: '✔';
}

@media (max-width: 1400px) {
  .logo {
    padding-right: 0;
  }
}

@media (max-width: 1100px) {
  .logo {
    visibility: hidden;
    display: none;
  }
}

