
.testScore{
    font-size: 3.0rem;
    margin-bottom: 1.5em;
}
.sequenceBox {
    flex: 0 26%;
    padding-bottom: 26%;
    margin-bottom: 4%;
    border: 8px solid white;
    border-radius: 25px;
    transition:0.2s;
    cursor: pointer;
}

.ContainerSequence{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 35em;
    pointer-events: none;
}
@media (max-width: 800px) {
    .ContainerSequence{
        width: 30em;
    }
  }
